@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

:root {
    --titulo1: "Emilys Candy", serif;
    --cor1: #FDF0E6;
    --cor2: #F08E80;

}

body {
    background-color: rgb(196, 196, 196);
}

header {
    margin: auto;
    background-color: var(--cor1);
}

header h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: 900;
    font-size: 5vw;
    font-family: var(--titulo1);
}

nav {
    height: 20px;
    text-align: center;
    font-size: 1.5vw;
    padding: 10px;
    padding-bottom: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 20px;
    transition: all 0.5s;
}

nav a:hover {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}

main {
    background-color: aqua;
}

.comida1{
    background-color: var(--cor1);
    display: flex;
    height: 60vw;
}

.comida1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comida1 a {
    color: var(--cor2);
    border: 4px solid var(--cor2);
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3vw;
    border-radius: 50px;
    height: min-content;
    padding: 20px 40px;
    margin-top: -40px;
    transition-duration: .5s;
}

.comida1 a:hover {
    background-color: var(--cor2);
    color: white;
    
}


#titulo1 {
    font-family: var(--titulo1);
    padding: 80px;
    font-size: 7vw;
    text-align: center;
    height: min-content;
}

.comida1 img {
    width: 80%;
}

.imagem1 {
    width: 50%;
    padding: 40px 0px;
    position: absolute;
    left: 50%;
}

.comida2 {
    background-color: var(--cor1);
    height: 95vw;
}

#titulo2 h2 {
    font-family: var(--titulo1);
    font-size: 4.5vw;
    text-align: center;
    padding: 5vw;
}

#comida2-menu {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.comida2-itens {
    display: inline-block;
    
}

.comida2-itens .imagem {
    width: 32vw;
}

.comida2-itens h2 {
    color: black;
    font-family: var(--titulo1);
    font-size: 3vw;
    text-align: center;
    padding: 10px;
}

.comida2-itens .add-car {
    color: var(--cor2);
    border: 2px solid var(--cor2);
    font-size: 1.5vw;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 50px;
    padding: 2vw;
    display: block;
    margin: 15px;
    transition-duration: .5s;
}

.comida2-itens .add-car:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    
}

.comida2-itens .add-button {
    border: 2px solid black;
    border-radius: 50px;
    font-size: 2vw;
    display: flex;
    padding: 1.3vw;
    align-items: center;
    gap: 20px;
    margin: 0px 15px;
    justify-content: space-between;
}

.comida2-itens .add-button img {
    width: 2.5vw;
}

.comida2-itens .add-button button {
    background-color: transparent;
    border: none;
}

.comida2-itens .add-button button:hover {
    cursor: pointer;
}

#comida3 {
    background-color: var(--cor2);
}

#comida3 #comida3-section {
    padding: 110px 20px;
    display: flex;
}

#comida3 #comida3-section .box {
    
}

#comida3 #comida3-section .box img {
    width: 50vw;
    height: 55vw;
    object-fit: cover;
}

#comida3 #comida3-section .comida3-section-text {
    color: white;
    text-align: center;
    font-weight: bold;
    align-content: center;
    width: 50vw;
}

#comida3 #comida3-section .comida3-section-text h2 {
    font-family: var(--titulo1);
    font-size: 8vw;
}

#comida3 #comida3-section .comida3-section-text p {
    
    text-align: left;
    font-size: 2vw;
    margin-top: 5vw;
    padding: 0px 15px ;
}

.comida3-section-text a {
    font-size: 1.5vw;
    color: white;
    display: inline-block;
    text-decoration: underline;
    padding-top: 20px;
}

#comida3 #comida3-section2 {
    color: white;
    padding-bottom: 60px;
}

.section2-titulo {
    
    padding: 20px;
}

.section2-titulo h3 {
    font-family: var(--titulo1);
    font-size: 5vw;
}

#comida3 #comida3-text {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.section2-text {
    border-bottom: 1px solid white;
    width: 33%;
}

.section2-text h4 {
    font-size: 2.5vw;
    padding: 20px 0px;
    
}

.section2-text p {
    font-size: 1.5vw;
    padding-bottom: 50px;
}

#foot {
    background-color: var(--cor1);
    
}

#secao1 {
    display: flex;
    height: 35vw;
    margin: 0px 20px;
    padding-top: 60px;
    border-bottom: 1px solid black;
}

#secao1 picture {
    display: flex;
    
}

#secao1 img {
    width: 23vw;
    display: block;
    margin: auto;
    
}

.foot-imagem1 {
    width: 25vw;
    justify-content: end;
}

#foot #imagem1 p {
    color: black;
    font-size: 2vw;
    padding: 10px;
}

#foot #texto1 {
    font-size: 2.8vw;
    text-align: justify;
    width: 50vw;
    position: relative;
    line-height: 1.2em;
    padding-right: 40px;
}

#foot #texto1 a {
    color: var(--cor2);
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 50%;
    translate: -50%;
    border: 2px solid var(--cor2);
    border-radius: 50px;
    padding: 10px;
    margin-top: 40px;
    width: 30vw;
    transition-duration: .5s;
}

#foot #texto1 a:hover {
    background-color: var(--cor2);
    color: white;
}

#foot #secao2 {
    height: 30vw;
    display: flex;
    padding: 20px;
    padding-top: 120px;
}

#secao2 #part1 img {
    width: 20vw;
}

#secao2 #part1 p {
    padding-top: 10px;
}

#secao2 #part1 a {
    color: var(--cor2);
    text-decoration: underline;
    font-weight: bold;
}

#secao2 #part2 {
    width: 35vw;
    border: 1px solid black;
    padding: 20px 7vw;
    
}

#secao2 #part2 p {
    font-size: 2vw;
}

#secao2 #part2 input {
    border: 0px;
    margin: 3vw 0px;
    padding: 20px 30px;
    font-size: 1.7vw;
}

#secao2 #part2 a {
    display: inline-flex;
    border: 2px solid var(--cor2);
    border-radius: 50px;
    color: var(--cor2);
    padding: 20px;
    font-size: 1.7vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#secao2 #part3 {
    border: 1px solid;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 800px) {

    header h1 {
        font-size: 6vw;
    }

    nav {
        padding-top: 30px;
    }

    nav a {
        font-size: 3vw;
        margin: 10px;
    }

    .comida1 {
        display: flex;
        flex-direction: column;
        height: 110vw;
    }

    .tc1 { 
        order: 1;
        display: none;
        margin-left: -80px;
    }

    .comida1 a {
        text-align: center;
        font-size: 2.5vw;
        margin-top: 10px;
        width: 40vw;
        letter-spacing: 3px;
    }

    #titulo1 {
        font-size: 8vw;
        padding: 10px;
        display: flex;
        gap: 7px;
      
    }

    .imagem1 {
        width: 80%;
        padding-top: 80px;
        padding-bottom: 0px;
        position: relative;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .comida2 {
        height: 480vw;
    }

    #titulo2 h2 {
        font-size: 5.5vw;
    }

    #comida2-menu {
        flex-direction: column;
    }

    .comida2-itens {
        padding-bottom: 25vw;
    }

    .comida2-itens h2 {
        font-size: 6vw;
    }

    .comida2-itens .add-car {
        font-size: 3vw;
        margin: 2vw 10vw;
        padding: 20px 0px;
    }

    .comida2-itens .add-button {
        font-size: 3.5vw;
        margin: 2vw 10vw;
        padding: 5px 0px;
    }

    .comida2-itens .add-button img {
        width: 5vw;
        padding: 2vw 5vw;
    }

    .comida2-itens .imagem {
        display: block;
        width: 75vw;
        margin: auto;
    }

    #comida3 #comida3-section {
        padding: 60px 20px;
        display: block;
    }

    #comida3 #comida3-section .box img {
        width: 80vw;
        height: 80vw;
    }

    #comida3 #comida3-section .comida3-section-text {
        width: 80vw;
        text-align: left;
    }

    #comida3 #comida3-section .comida3-section-text h2 {
        font-size: 10vw;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    #comida3 #comida3-section .comida3-section-text p {
        font-size: 3.5vw;
        font-weight: normal;
        padding: 0px;
        padding-bottom: 20px;
    }

    #comida3 #comida3-section .comida3-section-text a {
        font-size: 3vw;
        padding: 0px;
        padding-bottom: 30px;
    }

    #comida3-section2 {

    }

    #comida3-section2 h3 {
        font-size: 6vw;
    }

    #comida3-text {
        display: block;
        flex-direction: column;
    }

    #comida3-text .section2-text {
        border-bottom: 1px solid white;
        width: 68vw;
        height: 120px;
        margin-left: 23vw;
        margin-bottom: 30px;
        font-size: 6vw;
        padding-bottom: 20px;
    }

    #comida3-text .section2-text h4 {
        font-size: 3.5vw;
    }

    #comida3-text .section2-text p {
        font-size: 2.5vw;
    }
    
}